@model List<PracticaAnimales.Animal>

	<form action="/Animal/Listar" method="post">

		<div>
		Tipo Animal:
		<select name="IdTipoAnimal">
			<option value="">Tipo Animal</option>
			@foreach (var tipoAnimal in (List<PracticaAnimales.TipoAnimal>) ViewBag.TipoAnimal)
				{
					<option value="@tipoAnimal.IdTipoAnimal">@tipoAnimal.Nombre</option>
				}
		</select>
		</div>


		<div>
        <input type="submit" value="Filtrar" />
		</div>



		<table>
		<tr>
			<th>Nombre</th>
			<th>Peso</th>
			<th>Edad</th>
			<th>Tipo</th>
			<th>Eliminar</th>
			<th>Modificar</th>
		</tr>
		@foreach (var animal in Model)
		{
			<tr>
				<td>@animal.NombreEspecie</td>
				<td>@animal.PesoPromedio</td>
				<td>@animal.EdadPromedio</td>
				<td>@animal.IdTipoAnimalNavigation.Nombre</td>
				<td><a href="/Animal/Borrar/@animal.IdAnimal">Eliminar</a></td>
				<td><a href="/Animal/Modificar/@animal.IdAnimal">Modificar</a></td>

			</tr>
		}
	</table>


	</form>

	
